{{ define "main" }} 
<div class="about-tag">
  <h1>About Us</h1>
  <p class="lucky-paragraph">
      Welcome to Lucky 97 Game, the ultimate 
      destination for those who love the thrill of gaming and seek the
      chance to test their luck. Our mission is to create an exciting
      and immersive experience, where every player feels the excitement 
      of every spin and every draw.
    </p>
  
  <p class="lucky-paragraph">
    At Lucky 97, we believe in offering a game 
    environment that combines fairness with entertainment. Designed for 
    both new and experienced players, our game features high-quality graphics, 
    easy-to-use controls, and a variety of challenges that keep the gameplay 
    fresh and engaging.
  </p>
  
  <p class="lucky-paragraph">Our team is dedicated to providing you with the 
    best possible gaming experience, ensuring seamless play, secure transactions, 
    and reliable support. Whether you're here to unwind or chase big wins, Lucky 
    97 is here to make every moment memorable.
  </p>
  
  <p class="lucky-paragraph">Thank you for joining us at Lucky 97 Game. 
    Spin the wheel, embrace the challenge, and let the lucky streak begin!
  </p>
</div>
{{ end }}
